/* barra de navegacion */

.barra{
    background-color:#00C3D7;
    padding: 2rem;

}
.navbar-collapse{
    align-items: center;
    justify-content:end;
}

.icono-imagen{
    border-radius: 50%;
   
}


/*Estilos Generales*/

.btn-info{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    background-color: coral;
    color: aliceblue;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-titulo{
    font-family: 'Rubik Dirt', cursive;
    font-size: 2rem;
    padding: 15px 0;
}

a{
    border-bottom: none;
    font-weight: bold;
}

.lista{
    max-width: 600px;
    max-height: 600px;
    text-align: center;
}

/*Seccion hero*/

.seccion{
    background-color:#E2F0FF;
    min-width: 450px;
    padding: 2.5rem;
}
.seccion-oscura{
    background-color: black;
    color: antiquewhite;
    
}

h1{
    font-size: 2.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-clara{
    color:black;
    background-color: antiquewhite;

}

/*Seccion Sobre Mi*/

.sobre{
    text-align: center;
    max-height: 600px;
    padding: 3px;
}

/*Experiencia*/

.experiencia{
    padding: 30px;
    
}

.experiencia i{

    font-size: 2.5rem;
    color: black;
    background-color: aliceblue;
    padding: 8px 19px;
    border-radius: 50%;  

}

.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.experiencia .columna{
    padding: 20px;
    border: 4px solid rgb(16, 31, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: black ;
}

/*Mis proyectos*/

.container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    display: block;
    transition: all 0.2s ease;
}

.overlay p{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
}

.overlay{
    opacity: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.2s ease;
}

.container:hover img{
    opacity: 0.2;

}


.container:hover .overlay{
    opacity: 1;
    position: relative;
}

/*Carousel*/

.carusel-contenedor{
    max-width: 100%;
    max-height: 500px;
    align-items: center;
    justify-content: center;
}

.carusel-imagen{
    margin-top: 3px;
    width: 200px;
    height: 200px;
}

.carusel-titulo{
    font-size: 1.2rem;
    color: blue;
}

.carusel-parrafo{
    font-size: 0.9rem;

}
.carusel-footer{
    font-size: 0.7rem;
    color: rgb(218, 218, 65);
    font-weight: bold;
}



/* badges */

.badges{
    margin: 5px;
    padding: 3px;
}
.badge-contenedor{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

/*contacto*/

.boton{
    color: rgba(224, 28, 28, 0.84);
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.2ms ease-in-out;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 5px;
}

.sobre{
    color: rgb(38, 180, 219);
    font-size: 15px;
    transition: all 0,2ms ease-in-out;


}
.container .boton:hover{
    color: black;
    background-color: white;
    
}
.boton .sobre:hover{
    color: black;
}

/*footer*/
.footer-icono{
    margin-top: 3;
    font-size: 25px;
    font-weight: bold;
    color: blanchedalmond;
}



/* adaptable (responsivo)*/

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

@media screen and (min-width: 700px){
    .imagen-resp{
        max-width: 600px;
    }
}